<style>
            h1 {
                color: crimson;
            }
            img {
                width: 400px;
            }
            #thirdDiv {
                height: 600px;
                width: 500px;
                background: darkmagenta;
                padding: 50px;
                border: 20px solid hotpink;
                }
            #spanId {
                font-size: 18px;
                margin: 50px;
                }

        </style>